h1 {
    text-align: center;
    font-family: serif !important;
}
   
.block1 {
    background-color: #92bcee;
}

.block2 {
    background-color: #92bcee;
}
/* h4 {
    font-size: 20px;
    text-align: justify;
    text-align: center;
}


h3 { 
    font-size: 18px;
    text-align:center;
} */
